<h3>Search Terms: "<%= @search_query.terms %>"</h3>

<div class="ads">
  <% @search_query.result_groups.each do |group| %>
    <table class=<%= "group#{group.id}" %>>
    <caption>Generated at: <%= group.created_at %></caption>
      <thead>
        <tr>
          <th>Headline</th>
          <th>URL</th>
          <th>Copy</th>
        </tr>
      </thead>

      <tbody>
        <% group.ads.each do |ad| %>
          <tr>
            <td><%= ad.headline %></td>
            <td><%= ad.url %></td>
            <td><%= ad.copy %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  <% end %>
</div>
